/* Button */

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 6px 22px;
  min-width: 73px;

  color: $titleTextColor;
  background-color: $primaryWhiteColor;

  cursor: pointer;
}

.button.primary {
  color: $primaryWhiteColor;
  background-color: $accentColor;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.secondary {
  color: $titleTextColor;
  background-color: $backgroundGreyColor;
  border: none;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-f {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 11px 25px;

  width: 200px;
  height: 50px;

  color: $primaryWhiteColor;
  border: none;

  font-family: Roboto;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.input {
  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  height: 50px;
  width: 358px;
  background: #2f303a;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* кнопки выбора фильтрв */
.list.button-filter {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}
