html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: $primaryWhiteColor;
  color: $primaryTextColor;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

img {
  margin: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
