html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // outline: 1px solid tomato;
  margin: 0;

  background-color: $primaryWhiteColor;
  color: $primaryTextColor;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

img {
  // margin: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.container {
  // outline: 1px solid tomato;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  // width: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
