.item-features {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: $backgroundGreyColor;
  // @media screen and (min-width: 768px) {
  //   // max-width: 354px;
  //   flex-basis: 50%;
  // }
  // @media screen and (min-width: 1200px) {
  //   max-width: 270px;
  // }
}
.icon-features {
  width: 70px;
  height: 70px;
}
.img-hover > img {
  display: inline-block;
  padding: 25px 104px;
}

main section:nth-child(2) {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-li {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: center;
  }
}
.title.big {
  margin-bottom: 55px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.features-li .item {
  max-width: 450px;
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .features-li .item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-li .item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}
.features-title {
  margin-top: 0;
  margin-bottom: 0;
}
.title-item {
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.title-item + p {
  text-align: left;
}

main section:nth-child(3) {
  padding-bottom: 94px;
}
