footer {
  padding-bottom: 21px;

  margin-left: auto;
  margin-right: auto;

  background-color: #2f303a;
}
.container.basement {
  display: flex;
  justify-content: space-between;

  padding-top: 50px;
  margin-bottom: 28px;
}

.cl footer a,
p,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.down {
  margin-bottom: 10px;

  color: $primaryWhiteColor;

  font-size: 22px;
  line-height: 1.18;
}
address {
  font-style: normal;
}

address p {
  margin-bottom: 10px;
}
address p:first-child {
  color: $primaryWhiteColor;
}
address p:last-child {
  margin-bottom: 0px;

  color: $primaryWhiteColor;
}
.basement section:nth-child(2) {
  margin-right: -50px;
}

.network-icon {
  display: flex;
  align-items: center;
}
.network-icon .item:not(:last-child) {
  margin-right: 10px;
}
.net-image-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $primaryWhiteColor;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: $accentColor;
    outline: none;
  }
}

.link-color a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $linkContactsColor;
}
.follow {
  margin-bottom: 21px;
  margin-top: 0px;
  margin-right: 63px;

  color: $primaryWhiteColor;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.icon-icon-send {
  width: 24px;
  height: 24px;
}
.follow-sign {
  margin: 0px;
  margin-bottom: 20px;
}
.copiright {
  padding-top: 21px;

  font-size: 12px;
  line-height: 2;
  text-align: center;

  color: $copirightColor;
}
footer > p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.form {
  display: flex;
  align-items: center;
}
.batton-port {
  vertical-align: top;
  margin-right: 10px;
}
.list .profession {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
}
