.project-item {
  margin-bottom: 30px;

  width: 370px;

  overflow: hidden;
  &:focus,
  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  &:hover .project__background,
  &:focus .project__background {
    transform: translateY(-100%);
  }
}
.project__image {
  position: relative;

  overflow: hidden;
}
.project__background {
  position: absolute;

  width: 100%;
  height: 100%;
  top: 100%;

  background-color: $backgroundColorProject;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  padding: 23px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: $primaryWhiteColor;
}

.project-text {
  border-bottom: 1px solid#EEEEEE;
  border-right: 1px solid#EEEEEE;
  border-left: 1px solid#EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-title {
  margin-bottom: 5px;
  margin-left: 24px;

  color: $titleTextColor;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-item h2.project-title {
  margin-top: 0px;
  margin-bottom: 0;
}
.project-item img {
  display: block;
}

p.kind-work {
  margin-left: 24px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primaryTextColor;
}
/* проекты */
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
main.main-portfolio {
  margin-top: 95px;
  margin-bottom: 95px;
  padding: 0;
}
.projects .project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
