.works img {
  display: block;
}

.applications {
  display: inline-block;
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  color: $primaryWhiteColor;
  background-color: $backgroundColor;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.works {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works > li {
  position: relative;

  width: 370px;
}

main section:nth-child(4) {
  padding-top: 94px;
  padding-bottom: 94px;
}
