$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryWhiteColor: #ffffff;
$logoBlackColor: #000000;
$backgroundColor: rgba(47, 48, 58, 0.8);
$backgroundColorProject: rgba(33, 150, 243, 0.9);
$copirightColor: rgba(255, 255, 255, 0.4);
$linkContactsColor: rgba(255, 255, 255, 0.6);
$borderSecondaryColor: #afb1b8;
$backgroundGreyColor: #f5f4fa;
$bold: 700;
